.github/**
.vscode/**
.vscode-test/**
.vscode-test-data/**
.npm-cache/**
.gitignore
src/**
test/**
test-results/**
playwright-report/**
node_modules/**
dist-test/**
dist/**/*.map
tsconfig*.json
esbuild.js
playwright.config.mjs
package-lock.json
*.vsix
